doctype html
html
    head
        //metadata
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='waroeng')
        meta(name='author', content='Kelompok 2')
        //title
        title= title + ' | waroEng'
        //stylesheet
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/responsive.css')
        //favicon
        link(rel='shortcut icon', href='/img/ico/waroeng.ico')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/ico/apple-touch-icon-144-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/ico/apple-touch-icon-114-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/ico/apple-touch-icon-72-precomposed.png')
        link(rel='apple-touch-icon-precomposed', href='/img/ico/apple-touch-icon-57-precomposed.png')
    body
        //header
        header#header
            //header_top
            .header_top.navbar-fixed-top
                .container
                    .row.center
                        .col-sm-2
                            .logo.pull-left
                                a(href='/')
                                    img(src='/img/waroEng4x.png', alt='waroEng Logo')
                        .col-sm-6
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .mainmenu.pull-right.pt-2
                                ul.nav.navbar-nav.collapse.navbar-collapse
                                    li
                                        a(class={active: currentUrl === '/'}, href='/')
                                            | Home
                                    li
                                        a(class={active: currentUrl === '/cat/all'}, href='/cat/all')
                                            | Products
                                    li
                                        a(class={active: currentUrl === '/contact-us'}, href='/contact-us') Contact Us
                        .col-sm-4
                            .shop-menu.pull-right
                                ul.nav.navbar-nav
                                    -var orderCus = 'Account'
                                    -var link = '/sign-in'
                                    if customer
                                        -orderCus=customer.FullName
                                        -link='/usr/'
                                    li
                                        a(href='/cart')
                                            i.fa.fa-shopping-cart
                                            |  Cart
                                    li
                                        a(href=link)
                                            i.fa.fa-user
                                            =orderCus
                                    if customer
                                        li
                                            a(href='/sign-out')
                                                i.fa.fa-sign-out
                                                |  Logout
            ///header_top
        ///header

        block content

        //Footer
        footer#footer
            p e-Commerce waroEng -- TEAM 2 Informatika 5 C
        ///Footer
        script(src='/js/jquery-2.1.4.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/jquery.scrollUp.min.js')
        script(src='/js/main.js')
