extends layout

block content
    section#form
        //form
        .container
            .row.margin-awal
                .col-sm-4
                .col-sm-4.text-center
                    //login form
                    .login-form
                        h2 Sign in to your account
                        if checkOutNoti
                            if (signInError != '')
                                p=signInError
                            else
                                p=checkOutNoti
                        else
                            if (signInError != '')
                                p=signInError

                        form(id='sign-in', action='/sign-in', method='POST')
                            input(type='text', name='username', placeholder='Username')
                            input(type='password', name='password', placeholder='Password')

                            button.btn.pull-right.btn-default(type='submit') Login
                        .mbox.text-center
                            p Don't have an account? 
                                a(href="/sign-up") Signup
                    ///login form
    ///form